/* You can add global styles to this file, and also import other style files */

$primaria: #6b2cbb;
$secundaria: #f2e6f6;

$roxo-escuro: #2a1941;
$roxo: #6a52cf;

$magenta: #eb6af9;

$preto: #000000;
$preto-suave: #100f1a;

$cinza: #6968a1;
$branco: #ffffff;

@use 'bootstrap/scss/bootstrap' with (
  $primary: $primaria,
  $secondary: $secundaria,
  $success: #00ff66,
  $info: $roxo,
  $warning: $magenta,
  $danger: $magenta,
  $light: $secundaria,
  $dark: $preto
);
@use 'bootstrap-icons';

section {
  display: flex;
  min-height: 100vh;
}

.bg-lighterDark {
  background-color: $preto-suave;
}
* {
  color: $secundaria;
}
.certificado {
  box-shadow:
    0 8px 20px rgba($roxo, 0.25),
    0 20px 40px rgba($roxo, 0.2),
    0 0 60px rgba($roxo, 0.12);

  transition: all 0.3s ease;

  &:hover {
    transform: translateY(-5px);

    box-shadow:
      0 12px 25px rgba($roxo, 0.3),
      0 25px 50px rgba($roxo, 0.25),
      0 0 80px rgba($roxo, 0.18);
  }
}

.form-group input {
  background-color: $roxo-escuro;
  color: $secundaria;
  font-weight: 400;
  margin-top: 5px;
  margin-bottom: 5px;
}
.form-group input:focus {
  background-color: $roxo-escuro;
  color: $branco;
}
.form-group input::placeholder {
  color: $branco;
}
.formularioInput {
  max-width: 550px;
}
